#menu-utama{
    list-style:none;
}
#menu-utama li{
    float:left;
    padding:8px 20px;
}
#menu-utama li a{
    color:#ffffff;
    text-decoration:none;
}
#form{
    float:right;
    margin-right:20px;
}
#form input{
    border:none;
    height:20px;
	width:200px;
}